@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-VariableFont_wght.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic-VariableFont_wght.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/LUCON.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Terplounge';
    src: url('../fonts/JLSSpaceGothic-RNC.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'TerploungeBody';
    src: url('../fonts/JLSDataGothic-RNC.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond-Regular.woff2');
    font-weight: normal;
}

body {
    color: black;
    font-family: 'Nunito';
    background-color: #fffafa;
    font-size: 14pt;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'TerploungeBody';
    font-size: 24pt;
}

h2 {
    font-family: 'TerploungeBody';
    font-size: 20pt;
}

.important {
    font-family: 'TerploungeBody';
    font-size: 20pt;
}

.terplounge-font select option {
    font-family: 'TerploungeBody';
    color: black;
}

.container {
    height: 90vh;
    width: 93vw;
    margin: 2vh 2vw 2vh 2vw;
    border-style: solid;
    border-color: orange;
    border-width: 2vh;
    border-radius: 4vh;
    padding: 1vh;
    display: flex;
    flex-flow: column;
}

.logo a {
    color: black;
    text-decoration: none;
}

.container .logo {
    margin-top:1vh;
    margin-right: 1vh;
    text-align: right;
    font-family: 'Terplounge';
    font-size: 50pt;
    z-index: 10;
    color:black;
}

.logo-img {
    opacity: 0.3;
    width: 20vw;
    height: 20vw;
    z-index: -10;
}

.inline-img {
    max-height: 1em;
    cursor: pointer;
}

.header {
    display: flex;
    width: 90vw;
}

.message {
    width: 80vw;
    height: 85vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: clip;
    flex: 1 1 auto;
}

#download {
  display: none;
}

.invisible {
  display: none;
}

#compare {
  width: 90vw;
  height: 80vh;
  margin: auto;
  display: none;

}

.control-icon-container {
  margin-right: 2vw;
  display: flex;
  flex-direction: row;
}

.control-icon-container > img {
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    float: right;
}

#progress-bar {
  width: 60vw;
  background-color: #ddd;
  position: relative;
}

#progress-bar-inside {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}

#progress-bar-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.control-icons {
  margin: auto;
  display: flex;
}

.controlpanel {

}

.controlpanel > * {
    margin-right: 2vw;
}

.content-caption {
    text-aligh: left;
    display: flex;
    flex-direction: row;
}

.content {
    border: solid;
    font-family: Nunito;
    display: visible;
    border-style: solid;
    border-color: black;
    border-width: 1vh;
    border-radius: 1.25vh;
    padding: 2vh 2vw 2vh 2vw;
    width: 88w;
    height: 45vh;
    bottom: 4vh;
    overflow: scroll;
    overflow-y: auto;
    flex: 1 1 auto;
}

.player-container {
    padding: 2vh 2vw 2vh 2vw;
    margin: 2vh 2vw 2vh 2vw;

    border-style: solid;
    border-color: black;
    border-width: 1vh;
    border-radius: 1.25vh;
    width: 88w;
    height: 50vh;
    bottom: 4vh;
}

.compare-container {
    display: flex;
    overflow: scroll;
    overflow-y: auto;
    height: 55vh;
    width: 85vw;
    border-style: solid;
    border-color: black;
    border-width: 0.5vh;
    border-radius: 0.25vh;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.compare-text {
    font-family: Nunito;
}

.compare-left {
    flex: 1;
    width: 50%;
}

.compare-right {
    margin-right: 20px;
    width: 50%;
}

.compare-equal {
    font-weight: normal;
}

.compare-insert {
    color: green;
    font-weight: bold;
}

.compare-delete {
    font-weight: bold;
    color: red;
}

@media screen and (max-height: 450 px) {
    body {
        color: black;
        font-family: 'Nunito';
        background-color: #177886;
        font-size: 18pt;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    h1 {
        font-size: 18pt;
    }
}
