<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Comparison</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">Terplounge</div>
      <div class="header">
        <div class="message">
          <h1>Comparison</h1>
          <p>
            On the left is your translation, and on the right is the reference
            translation.
          </p>
        </div>
	<div id="progress"></div>
      </div>
      <div class="compare-container">
        <div class="compare-left compare-text" id="dest"></div>
        <div class="compare-right compare-text" id="source"></div>
      </div>
    </div>
    <script language="javascript" type="module">
      const getStatus = async () => {
        const json = await fetch("/status/{{uuid}}");
        const status = await json.json();
        return status;
      };

      let last_transcription_count = undefined;

      const maybeUpdate = async () => {
        const status = await getStatus();
        console.log(`got status: ${status}`);
        if (last_transcription_count === status.transcription_job_count) {
          return;
        }
        last_transcription_count = status.transcription_completed_count;
        await updateDiffs();
        if (
          status.transcription_completed_count !==
          status.transcription_job_count
        ) {
          console.log("Setting timeout for update");
          setTimeout(maybeUpdate, 5000);
        }
        const progressDiv = document.getElementById("progress");
        progressDiv.innerHTML = `<h1>Transcribed ${status.transcription_completed_count} / ${status.transcription_job_count}</h1>`;
      };

      const updateDiffs = async () => {
        const json = await fetch("/changes/{{resource}}/{{uuid}}/{{lang}}");
        const diff = await json.json();
        const source = document.getElementById("source");
        let dest = document.getElementById("dest");
        dest.innerHTML = "";
        source.innerHTML = "";
        for (var change of diff) {
          while (change.content[0] === "\n") {
            dest.innerHTML += "<br>";
            source.innerHTML += "<br>";
            change.content = change.content.substring(1);
          }
          if (change.content === "") {
            continue;
          }
          switch (change.change_type) {
            case "delete":
              dest.innerHTML += `<span class="compare-delete">${change.content}</span>`;
              break;
            case "insert":
              source.innerHTML += `<span class="compare-insert">${change.content}</span>`;
              break;
            case "equal":
              dest.innerHTML += change.content;
              source.innerHTML += change.content;
              break;
            default:
              console.log("Weird diff " + JSON.stringify(diff));
          }
        }
      };

      await maybeUpdate();
    </script>
  </body>
</html>
