<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Comparison</title>
  </head>
  <body>
    <div class="loading-state" id="loading">
      <div class="loading"></div>
    </div>
    <div class="container">
      <div class="logo">Terplounge</div>
      <div class="header">
        <div class="message">
          <h1>Comparison</h1>
          <p>
            On the left is your translation, and on the right is the reference
            translation. Text which is present in your translation and not in the reference is marked in <span class="compare-delete">red</span> and text present in the reference but not yours is <span class="compare-insert">green</span>.
          </p>
	  <div class="compare-container">
            <div class="compare-left compare-text" id="dest"></div>
            <div class="compare-right compare-text" id="source"></div>
	  </div>
	</div>
      </div>
    </div>
    <div id="progress"></div>
    <script language="javascript" type="module">
      const getStatus = async () => {
        const json = await fetch("/status/{{uuid}}");
        const status = await json.json();
        return status;
      };

      let last_transcription_count = undefined;

      const maybeUpdate = async () => {
        const status = await getStatus();
        console.log(`got status: ${JSON.stringify(status)}`);
        if (last_transcription_count === status.transcription_job_count) {
          return;
        }
        last_transcription_count = status.transcription_completed_count;
        await updateDiffs();
        if (
          status.transcription_completed_count !==
          status.transcription_job_count
        ) {
          console.log("Setting timeout for update");
          setTimeout(maybeUpdate, 5000);
        } else {
	  const loading = document.getElementById("loading");
	  loading.style.display = "none";
	}

        const progressDiv = document.getElementById("progress");
        progressDiv.innerHTML = `<h1>Transcribed ${status.transcription_completed_count} / ${status.transcription_job_count}</h1>`;
      };

      const updateDiffs = async () => {
        const json = await fetch("/changes/{{resource}}/{{uuid}}/{{lang}}");
        const diff = await json.json();
        const source = document.getElementById("source");
        let dest = document.getElementById("dest");
	let destText = "";
	let sourceText = "";
        for (var change of diff) {
          while (change.content[0] === "\n") {
            destText += "<br>";
            sourceText += "<br>";
            change.content = change.content.substring(1);
          }
          if (change.content === "") {
            continue;
          }
          switch (change.change_type) {
            case "delete":
              destText += `<span class="compare-delete">${change.content}</span1>`;
              break;
            case "insert":
              sourceText += `<span class="compare-insert">${change.content}</span>`;
              break;
            case "equal":
              destText += change.content;
              sourceText += change.content;
              break;
            default:
              console.log("Weird diff " + JSON.stringify(diff));
	  }
	}
          dest.innerHTML = destText;
          source.innerHTML = sourceText;

      };

      await maybeUpdate();
    </script>
  </body>
</html>
