<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">Terplounge</div>
      <div class="header">
        <div class="message">
	  Welcome to <span class="terplounge-font">Terplounge</span>, which enables simultaneous interpreters to practise alone, using resources supplied by professional colleagues, or using examples from real life.
          <h1>Actions</h1>
          <a href="/choose.html">Practise</a>
          <p/>
          <a href="/transcribe.html">Transcribe</a>
          <p />
          <h1>Sessions</h1>
          <ul>
            {% for session in sessions %}
            <li>
              {{session.id }} {{ session.uuid }} {{ session.created_at }}
              <a href="/transcript/{{session.uuid}}">Transcript</a>
              <a href="/recordings/{{session.uuid}}.wav">Recording</a>
	      {% if ! session.resource.is_none() %}<a href="/compare/{{session.resource.clone().unwrap()}}/{{session.uuid}}/de">Compare (2, de)</a>{% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
